.article-page {
  background-color: var(--page-color);
  border: var(--page-border);
  color: var(--text-color);

  &__wrapper {
    width: 150rem;
    max-width: 100%;
    margin: 8rem auto;
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    position: relative;
    background-color: var(--wrapper-color);
  }

  &__info {
    width: 60%;
    padding: 2rem;
  }

  &__title {
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }

  &__favourite {
    color: #fff;
    text-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.3);
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;

    &:hover {
      text-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.5);
    }
  }

  &__description {
    font-size: 2.3rem;
    margin-top: 3rem;
  }

  &__content {
    width: 87%;
    margin-top: 3rem;
    font-size: 2.1rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
  }

  &__footer {
    margin-top: 3rem;
  }

  &__author,
  &__published-at {
    display: block;
    font-size: 1.8rem;
    font-style: italic;
  }
}
