.favourites-icon {
  cursor: pointer;
  background-color: inherit;

  svg {
    width: 4rem;
    height: 4.5rem;

    @media only screen and (max-width: 420px) {
      width: 6rem;
      height: 6rem;
    }
  }
}
