.favourites-icon {
  font-size: 4rem;
  color: rgb(244, 248, 17);
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.2);
  }
}

.favourites-icon--header {
  font-size: 4rem;
  text-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;

  &:hover {
    text-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.4);
  }
}
