.favourites {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--page-color);

  &__empty {
    margin-top: 10rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--empty-color);
  }
}
