.remove-favourite-icon {
  cursor: pointer;
  background-color: inherit;
  fill: var(--text-color);

  svg {
    width: 3rem;
    height: 4.5rem;

    @media only screen and (max-width: 420px) {
      width: 6rem;
      height: 6rem;
    }
  }
}
