.header {
  height: 14.5rem;
  background-color: var(--header-color);
  display: flex;
  align-items: center;

  &__wrapper {
    width: 100rem;
    max-width: 97%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 920px) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 8rem;
    height: 8rem;
    cursor: pointer;

    @media only screen and (max-width: 420px) {
      width: 12rem;
      height: 12rem;
    }
  }

  &__search {
    width: 40rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: var(--search-color);

    &::placeholder {
      color: var(--text-color);
    }

    &:focus {
      outline: none;
    }

    @media only screen and (max-width: 420px) {
      max-width: 30rem;
      font-size: 2rem;
    }
  }

  &__select {
    height: 4rem;
    border-radius: 5px;
    background-color: var(--search-color);
    padding: 5px;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.5);

    &:focus {
      outline: none;
    }
  }

  &__search,
  &__select {
    @media only screen and (max-width: 420px) {
      font-size: 2rem;
    }
  }

  &__utils {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 920px) {
    height: auto;
    padding: 2rem;

    form,
    div {
      margin-top: 3rem;
    }
  }
}
