.light-theme {
  --header-color: rgb(238, 240, 242);
  --article-color: rgb(255, 255, 255);
  --page-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --search-color: rgb(255, 255, 255);
  --empty-color: rgb(65, 65, 65);
  --page-border: none;
  --wrapper-color: rgb(255, 255, 255);
}

.dark-theme {
  --header-color: rgb(42, 42, 42);
  --article-color: rgb(48, 48, 48);
  --page-color: rgb(61, 61, 61);
  --text-color: rgb(255, 255, 255);
  --search-color: rgb(42, 42, 42);
  --empty-color: rgb(199, 199, 199);
  --page-border: 0.1px solid rgb(61, 61, 61);
  --wrapper-color: rgb(42, 42, 42);
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 10px;

  @media only screen and (max-width: 920px) {
    font-size: 9px;
  }

  @media only screen and (max-width: 420px) {
    font-size: 7.5px;
  }
}

body {
  font-family: "Baloo Chettan 2", cursive, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}
